@import "../../styles/variaveis.scss";


.ConsuSection {
    margin: 1em 2rem;

    .breadCrumb {
        //display: none;

        @media only screen and (min-width: $portatil-breakpoint) {
            display: flex;
            width: auto;
            padding: 2rem 0;
            color: $blueMirex;
        }

        a {
            border-bottom: 2px solid $lightGray;
        }
    }

    #compromisso {
        font-size: small;
        margin-top: 2rem;
   
        h3{
            font-weight: 300;
        }
        h2 {
            font-weight: bold;
            font-size: medium;
        }

        p{
            margin: 1rem 0;
        }

        span{
            font-weight: bold;
        }
    }

}