@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

@import '../../styles/variaveis.scss';


.HeaderContent{
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: $background;

    
    .navBarContent{
        position: fixed;
        top: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: $background;
        justify-content: space-between;
        padding: 1rem 0;
    
    
        @media only screen and (min-width: $desktop-breakpoint){
            position: fixed;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }
    
    
        .logoContent{
    
            h4{
                font-family: 'poppins', sans-serif;
                font-size: small;
                margin-left: 2rem;
            }
    
        }
    
    
        .navBarMenu{
            position: fixed;
            top: 1rem;
            width: 100%;
            left: 0%;
            right: 0;
            height: 100vh;
            transform: translateX(100%);
            opacity: 0;
            visibility: hidden;
            transition: transform .5s ease;
            background-color: $background;
    
    
    
            @media only screen and (min-width: $tablet-breakpoint){
                top: 2rem;
                left: 45%;
            }
    
    
            @media only screen and (min-width: $portatil-breakpoint)    {
                position: relative;
                height: 2rem;
                width: 40rem;
                align-items: center;
                justify-content: center;
                left: 0%;
                top: -2.5rem;
                justify-content: center;
                transform: scale(1);
                opacity: 1;
                visibility: visible;
               
            }
            
    
            @media only screen and (min-width: $desktop-breakpoint){
                position: relative;
                height: 2rem;
                width: 35rem;
                align-items: center;
                justify-content: center;
                left: 0%;
                top: 1rem;
                justify-content: center;
                transform: scale(1);
                opacity: 1;
                visibility: visible;
    
            }
    
            .navBarEnd{
                display: flex;
                flex-direction: row;
                

                @media only screen and (min-width: $portatil-breakpoint){
                    display: flex;
                    flex-direction: row;
                    //margin-top: -rem;
                }

                @media only screen and (min-width: $desktop-breakpoint){
                    display: flex;
                    flex-direction: row;
                    margin-top: -3.5rem;
                }

                .navBarItem{
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    margin-top: 3rem;
                    position: relative;
                    list-style: none;
    
                    a{
                        margin: 0 1rem;
                        font-family: 'poppins', sans-serif;
                        font-weight: bold;        
                    }
    
                    & :hover{
                        color: $textHover;
                        transition: all .5s ease;
                    }


                    @media only screen and (min-width: $portatil-breakpoint){
                        display: block;
                        position: relative;
                        flex-direction: row;
                        width: 10rem;
                        font-size: small;
                        align-items: center;
                    }


    
                    @media only screen and (min-width: $desktop-breakpoint){
                        display: block;
                        position: relative;
                        flex-direction: row;
                        width: 10rem;
                        font-size: large;
                        align-items: center;
                    }
    
                }
               
            }
        }    
    
        .showNav{
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
        }
    
    
        .SearchArea{
            display: none;
    
    
            @media only screen and (min-width: $tablet-breakpoint){
                display: block;
            }
    
            @media only screen and (min-width: $desktop-breakpoint){
                display: block;
            }
    
            Input{
    
                @media only screen and (min-width: $tablet-breakpoint){
                    width: 12rem;
                }
        
    
                @media only screen and (min-width: $desktop-breakpoint){
                    //width: 18rem;
                }
        
            }
    
        }
    
    
        #navBarBurguer{
            margin-right: 2rem;
            position: relative;
            margin-top: -1.7rem;
    
            @media only screen and (min-width: $tablet-breakpoint){
                top: .7rem;
            }
    
            @media only screen and (min-width: $portatil-breakpoint){
                display: none;
            }
    
            @media only screen and (min-width: $desktop-breakpoint) {
                display: none;
            }
    
        }
    
    }
    ._lines{
        margin-top: -.7rem;
        width: 100%;
        border: 3px solid $blueMirex;
    }
    
}
